<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>

<h2>Update</h2>
<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id">
    <label for="username">Name</label>
    <input type="text" th:field="*{username}" id="username">
    <br>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <th:block th:each="role : ${roleList}">
        <input type="checkbox" name="arrId" th:value="${role.id}" />
        <label th:text="${role.name}">Value</label><br>
    </th:block>
    <input type="submit" value="Update">
</form>

<a th:href="@{/logout}">Logout</a>

</body>
</html>